@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #06cbe6;
}

#column-2 {
  background: #0c7fc2;
}

#column-3 {
  background: #0065c4;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #ffd5fd;
  }

  #column-1 {
    background-color: #fda8f9;
    width: 50%
  }

  #column-2 {
    background-color: #ff7af8;
    width:50%
  }

  #column-3 {
    background-color: #ff2df5;
    width:100%
  }

  footer {
    background-color: #ff00f2;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #f8b4b4;
  }

  #column-1 {
    background-color: #ff8989;
    width:one-third
  }

  #column-2 {
    background-color: #fd5353;
    width:one-third
  }

  #column-3 {
    background-color: #f30000;
    width:one-third
  }

  footer {
    background-color: #ff3737;
  }
   
}
